<p>
    <strong>Amount:</strong> {{ amount | number }}
</p>

<p>
    <strong>Date:</strong> {{ date | date }}
</p>


<p>
    <strong>name:</strong> {{ name | titlecase }}
</p>


<p>
    <strong>nameLower:</strong> {{ nameLower | uppercase }}
</p>

<p>
    <strong>nameUpper:</strong> {{ nameUpper | lowercase }}
</p> 

<p>
    <strong>Prix:</strong> {{ price | currency:'TND' }}
</p>


<p>
    <strong>userEmail:</strong> {{ userEmail | email  }}
</p>

<p>
    <strong>userEmail2:</strong> {{ userEmail2 | email  }}
</p>