<app-navbar></app-navbar>

<div class="container">
    <h1>About page</h1>
    <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Qui voluptatum facilis officia architecto aspernatur, porro nesciunt aliquam dignissimos dolor rem magni. Officiis quas tempore eius! Optio nihil minus dolore ad?
    </p>
    <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Qui voluptatum facilis officia architecto aspernatur, porro nesciunt aliquam dignissimos dolor rem magni. Officiis quas tempore eius! Optio nihil minus dolore ad?
    </p>



    <ul class="nav nav-tabs"> 
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active"  routerLink="/about/company">Company</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="/about/employees">Employees</a>
        </li> 
      </ul>

      <div class="mt-5">
        <router-outlet></router-outlet>
      </div>
</div>